@charset "UTF-8";

html{
    position:relative; 
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #ccc;
    margin-bottom:100px;
}

section {
    position: relative;
    top:80px;
}

nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: visible;
    background-color: #2B3B4E;
    height: 50px;
    width: 100%;
    min-width: 100%;
}

#logo {
    height: 50px;
    width: 150px;
    float: left;
}

.navbar_item {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 15.5px;
    text-decoration: none;
}

#settings {
    width: 20px;
    float: right;
}

/* Change the link color to #333 on hover */
.navbar_item:hover {
    background-color: #4d4d4d;
}

section {
    text-align: center;  
    padding-bottom: 60px;
}

h1 {
    font: bold 1.9em monaco, sans-serif;
}


#icons {
    display: inline-block;
    
}

figure {
    float: left; 
}

figure img:hover{
    -webkit-transform:scale(1.1);
    -webkit-transition:-webkit-transform 0.40s;
}

.icon {
    width:200px;
    height:200px; 
    max-width:100%;
    cursor: pointer;
}

figcaption{
    font-family: monaco, sans-serif;
    font-size: 1.3em;
    text-align: center;
    margin-top: 5px;    
    color: #222;
}

#footer {
    clear: both;
    position: absolute;
    bottom: 0;
    width: 100%;
    height:auto;
    margin-top: 550px;
    background-color: #ddd;
}

footer p {
    font: 0.7em monaco, sans-serif;
    color: #777;
    text-align: center;
    margin: 5px;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    float: right;

    
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    font-family: monaco, sans-serif;
    display: none;
    position: absolute;
    top:50px;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    left: auto;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd

}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;

}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;

}
