@charset "UTF-8";

html{
    position:relative; 
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #ccc;
    margin-bottom:100px;
    background: url(Iconos/banner.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

section {
    position: relative;
    text-align: center; 
    top: 50px; 
    margin-left: 30%;
    margin-right: 30%;
}

nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: visible;
    background-color: #2B3B4E;
    height: 50px;
    width: 100%;
    min-width: 100%;
}

#logo {
    height: 50px;
    width: 150px;
    float: left;
}

.profiles_box_title {
    float: center;
    margin: 0;
    width: 100%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-family: monaco, monospace;
    text-align: center;
    color: rgb(51, 73, 94);
    font-size: 23px;
    letter-spacing: 1px;
    font-weight: 600;
    border-style: solid;
    border-color: #ffffff;
    background: #ffffff/*rgb(110, 230, 159);*/
}

/* Style the list box */
.profiles_list_box {
    float: center;
    background-color: rgba(221,221,221,0.5);
    height: 340px;
    width: 100%;
    border-style: solid;
    border-color: #a6a6a6;
    overflow:auto;
}


.profiles_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.a_profile {
    float: left;
    width: 100%;
    height: 70px;
    background-color:rgba(238,238,238,0.7);
    text-align: left;
    border:0.5px solid #bbb;
    cursor: pointer;

}

.a_profile:hover {
    background-color: #ddd;
}

.profile_name {
    text-align: left;
    font-family: monaco, monospace;
    color: #555;
    position: relative;
    float: left;
    margin-top: 26.5px;
    margin-bottom: 26.5px;
    margin-left: 10px;
    font-size: 17px;
}


.profile_picture {
    width: 44px;
    height: 44px;
    cursor: pointer;
    margin: 13px;
    position: relative;
    float: left;
}

.arrow_icon {
    width: 35px;
    height: 35px;
    cursor: pointer;
    margin: 17.5px;
    position: relative;
    float: right;
}

#footer {
    clear: both;
    position: absolute;
    bottom: 0;
    width: 100%;
    height:auto;
    margin-top: 550px;
    background-color: #ddd;
}

footer p {
    font: 0.7em monaco, sans-serif;
    color: #777;
    text-align: center;
    margin: 5px;
}
