@charset "UTF-8";

html{
    position:relative; 
    min-height: 100%;
}

body {
 	margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #ccc !important;  
    font-family: monaco, monospace !important;
    margin-bottom:50px;
    overflow-y: scroll;
}

a {
    text-decoration: none;
}

nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: visible;
    background-color: #2B3B4E;
    height: 50px;
    width: 100%;
    min-width: 100%;

}

#logo {
    height: 50px;
    width: 150px;
    float: left;
}

.navbar_item {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 13px;
    text-decoration: none;
    font-family: monaco, monospace;
}

#settings_icon {
    width: 50px;
}

.navbar_item:hover {
    background-color: #4d4d4d;
    outline: none;
    color: white;
    text-decoration: none;
}

section {
    position: relative;
	text-align: center;
    padding-top: 20px;
    top: 5px;
    z-index: 0;    
}

.category_title {
    margin-top: 15px;
    margin-left: 0;
    margin-bottom: 20px;
    display: table;
    height:30px;
    position: relative;
    top: 0;
	margin-left: 5%;	
}

.title_elements{
    display: inline;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-weight: bold !important;
}

#title{
    font-size: 30px;
    padding-right: 15px;
}

#addicon {
    width: 36px;
    height: 36px;
    cursor: pointer;
}

#addicon:hover {
    -webkit-transform:scale(1.1);
    -webkit-transition:-webkit-transform 0.20s;
}

#icons {
    margin: 0 !important;
}

figure {
    width: 190px;
    height: 190px;
    display: inline-block !important;
    margin: 0 !important;

}

figure img:hover{
	-webkit-transform:scale(1.1);
	-webkit-transition:-webkit-transform 0.40s;
}

.icon {
  	width:120px;
  	height:120px;
  	display: inline-block;
    cursor: pointer;
}

a .roomandtrash {
   display: inline;
   position: relative;
   width: 120px !important;
}

div .roomandtrash {
   width: 120px !important;

}

.trash_icon {
    width: 25px;
    height: 25px;
    position: absolute;
    right: -10px;
    top: -60px;
    visibility: hidden;

}

a {
    outline: none;
}

figcaption{
	font-family: monaco, sans-serif;
	font-size: 17px;
    display: inline-block !important;
	text-align: center;
	margin-top: 5px;	
	color: #222;
    width: 120px;
    overflow: hidden;
    white-space: nowrap; /* Don't forget this one */
    text-overflow: ellipsis;
}

#footer {
    clear: both;
    position: absolute;
    bottom: 0;
    width: 100%;
    height:auto;
    margin-top: 550px;
    background-color: #ddd;
}

footer p {
    font: 0.7em monaco, sans-serif;
    color: #777;
    text-align: center;
    margin: 5px;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    float: right;
    z-index: 1;

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    font-family: monaco, sans-serif;
    display: none;
    position: absolute;
    top:50px;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    left: auto;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #000;


}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    outline: none;
    background-color: #ddd;
    color: black;
    text-decoration: none;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}


/*popup*/

#name-tag {
    position: relative !important;
    font-family: monaco, monospace;
    margin-left: 13px;
    margin-bottom: 7px;
    display: inline-block;
}

.more_info1 {
    height: 20px;
    width: 20px;
    display: inline-block;
    top: -3px;
}

.more_info2 {
    height: 20px;
    width: 20px;

}

.more_info3 {
    position: relative;
    top: 12px;
    margin-left: 12px;
}

#room-tag {
    padding-top: 0;
    margin-left: 13px;
    margin-top: 15px;
    position: relative;
    float: left;
    font-family: monaco, monospace;
    margin-bottom: 7px;
    display: inline-block !important;
}

#name_input {
    width: 88%;
    height: 25px;
    position: relative !important;
    float: left !important;
    font-family: monaco, monospace;

}

.text-input {
    margin-left: 13px;
    position: relative !important;
    float: left;
    font-family: monaco, monospace;

}

#room_input {
    width: 88%;
    height: 25px;
    overflow: scroll;
    font-family: monaco, monospace;
    margin-bottom: 10px;

}

.modal-header {
    background-color: #2B3B4E;
    height: 50px !important;
    padding: 10px 15px !important;
}

.modal-title {
    color: white;
    font-family: monaco, monospace;

}

.close {
    color: #fff !important;
    opacity: 1 !important;
      font-weight: 200 !important;

}

.close:focus {
    outline:none;
}

.modal-dialog {
    width: 250px !important;
    height: 350px !important;
}

.modal-footer {
    height: 65px !important;
}

.btn-primary {
    background-color: #2B3B4E !important;
}
