@charset "UTF-8";

html{
    position:relative; 
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: monaco, monospace;
    background-color: #ccc; 
}

h2 {
    font-size: 17px;
    text-align: center;
}

h3 {
    font-size: 15px;
    text-align: center;
}

nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: visible;
    background-color: #2B3B4E;
    height: 50px;
    width: 100%;
    min-width: 100%;

}

#logo {
    height: 50px;
    width: 150px;
    float: left;
}

.navbar_item {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding:15.5px;
    text-decoration: none;
}

#settings_icon {
    width: 20px;
}

/* Change the link color to #333 on hover */
.navbar_item:hover {
    background-color: #4d4d4d;
    outline: none;
}


#deviceicon {
    width: 160px;
    height: 160px;
    padding-top: 40px;
    padding-left: 45px;
}

section {
    margin-bottom:10px;
    margin-left: 5%;
    margin-right: 5.2%;

}

.category_title {
    margin-top: 30px;
    margin-left: 0;
    margin-bottom: 20px;
    display: table;
    height:30px;
    position: relative;
    top: 10px;
    left:0px;
}

.title_elements{
    display: inline;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

#title{
    font-size: 30px;
    padding-right: 15px;
}

#addicon {
    width: 36px;
    height: 36px;
    cursor: pointer;
}

#addicon:hover {
    -webkit-transform:scale(1.1);
    -webkit-transition:-webkit-transform 0.20s;
}

/* Style the list box */
.routines_list_box {
    float: center;
    margin-bottom: 15px;
    background-color: #fff;
    height: 410px;
    width: 99.5%;
    border-style: solid;
    border-color: #a6a6a6;
    overflow:auto;
}


.routines_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.routine_name {
    text-align: left;
    color: #555;
    position: relative;
    float: left;
    margin-top: 9px;
    margin-bottom: 26.5px;
    margin-left: 15px;
    font-size: 17px;
    font-family: monaco, monospace;
}

.play_icon {
    width: 44px;
    height: 44px;
    cursor: pointer;
    margin: 0;
    margin-top: -5px;
    position: relative;
    float: left;
}

.play_icon:hover {
    -webkit-transform:scale(1.1);
    -webkit-transition:-webkit-transform 0.20s;
}

.arrow_icon {
    width: 30px;
    height: 30px;
    margin: 0;
    margin-right: 10px;
    cursor: pointer;
    position: relative;
    float: right;
}


#footer {
    clear: both;
    position: absolute;
    bottom: 0;
    width: 100%;
    height:auto;
    background-color: #ddd;
}

footer p {
    font: 0.7em monaco, sans-serif;
    color: #777;
    text-align: center;
    margin: 5px;
}

/*dropdown box*/

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    float: right;

    
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    font-family: monaco, sans-serif;
    display: none;
    position: absolute;
    top:50px;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    left: auto;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    outline: none;
    background-color: #ddd
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;

}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;

}

/* accordion */

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 97%;
    text-align: left;
    outline: none;
    font-family: monaco, sans-serif;
    float: left;
    height: 40px;
    border:0.5px solid #ccc;
}

.accordion::-moz-focus-inner { 
  border: 0; 
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion:hover {
    background-color: #ccc;
}

/*
.active {
    background-color: #ccc;
}
*/

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white; /*#F7F7F7;*/
    display: none;
    overflow: hidden;
    border: 0.5px solid #ccc;
}

/*search bar*/

form {
    float:right;
    margin-top: 13px;
}

.search { 
    padding:2px 8px 2px 8px;
    margin-left: 4px; 
}

.rounded { 
    border-top-left-radius:6px; 
    border-bottom-left-radius:6px; 
    -moz-border-top-left-radius:6px; 
    -webkit-border-top-left-radius:6px; 
}

input[type=text] {
    height: 24px;
    width: 200px;
    float:right;
    font-family: monaco, sans-serif;
    font-size: 15px;
}

.search-container button {
    float: right;
    height: 32px;
    width: 30px;
    border-top-right-radius:6px; 
    border-bottom-right-radius:6px;
    background-color: #334860;
    border: none;
}

#search_icon {
    width: 15px;
    height: 15px;
    background-color: #334860;
}

.search-container button:hover {
    border-style: outset;
    border-width: 0.5px;
}


/* routine played */

.notice{
    margin-bottom: 40px;
    display: none;
}

.routine_played{
    position: relative;
    text-align: center; 
    padding: 1px 5px 1px 5px;
    background-color: black;
    border-radius:8px;
    -moz-border-radius:8px; 
    -webkit-border-radius:8px;
    opacity: 0.7;
    margin-left: 40%;
    margin-right: 40%;
}

.routine_played h1 {
    color: white;
    font-family: monaco, sans-serif;
    font-size: 12px;
}

